html {
	font-family: serif;
	font-size: 115%;
}

form {
	margin: 5px 0px;
}

button {
	margin:  5px;
}

input {
	margin-right: 10px;
}

input[type=number] {
	width: 100px;
}

label {
	background-color: white;
}

button {
	background-color: #00C3FF;
	border-radius: 7px;
	border-color: black;
}